header{
    background: #d8d8d8;
    margin: 0;  
}

form,
.progress-box {
	width: 89%;
    margin: 20px 0;
    .percentage-cur .num {
        margin-right: 5px;
    }
    .slider-time{
        position: absolute;
        top: -7px;
    }
    .progress-bar {
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        margin-bottom: 3px;
        border: 1px solid #f1f1f1;
        position: relative;
        .inner {
            position: relative;
            width: 0;
            height:100%;
            background: #239bd6; 
            border-radius: 5px;
        }
    }
    .progress-slider {
      opacity: 0;
      width: 100%;
      height: 5px;
      position: absolute;
      top: -3px;
      left: 0px;
      cursor: pointer;
      z-index: 1;
      top: -2px
    }

    .progress-bar-slider .inner {
        transition: all 0.5s ease-out;
    }
    
    .progress-bar-slider .inner:after {
      content: " ";
      width: 16px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      right: -5px;
      top: -7px;
      border: 1px solid #bbb;
      border-radius: 5px;
      margin: 0px;
    }
}


section{
    select{
        width: 300px;
    }
}

section:nth-child(1){
    width: 50%;
    padding: 10px;
}
section:nth-child(2){
    width: 46%;
    padding-top: 1%;
}

.range{
    position: relative;
    transition: all 0.5s ease-out;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.start-range{
    @extend .float-left;
    position: absolute;
    top: 14px;
    left: -35px
}
.end-range{
    @extend .float-right;
    position: absolute;
    top: 14px;
    right: 20px
}