<!--The content below is only a placeholder and can be replaced.-->
<div>
    <header>
      Header
    </header><br>
    <form *ngIf="!isScreen2" name="sliderForm">
      <section>
        <label>Select the loading time range</label><br>
        <span>(in seconds)</span><br><br>
        <select [(ngModel)]="selectedRange" name="selectControl" style="width:300px;" (change) = "changedValue(selectedRange)">
          <option [ngValue]="option" *ngFor="let option of selectDropdown"> 
              {{option.startRange}} - {{option.endRange}}
          </option>
        </select>
        <br>
        </section>
        <section>
      <div class="progress-box">
        <div class="percentage-cur">
          <span class="num">{{ selectedTime }}</span>
        </div>
        <div class="progress-bar progress-bar-slider">
          <input class="progress-slider" type="range" name="timeControl" min="{{selectedRange.startRange}}" max="{{selectedRange.endRange}}" [(ngModel)]="selectedTime" (change) = "changedTime(selectedTime)">
          <div class="inner" [ngStyle]="{ width: setWidth + '%' || '0%' }"></div>
        </div>
      </div>
      </section>
    </form>
</div>
