<!--The content below is only a placeholder and can be replaced.-->
<div>
    <header>
      Header
    </header><br>
    <form *ngIf="!isScreen2" name="sliderForm">
      <section class="float-left">
        <label>Select the loading time range</label><br>
        <span>(in seconds)</span><br><br>
        <select [(ngModel)]="selectedRange" name="selectControl" (change) = "changedValue(selectedRange)">
          <option [ngValue]="option" *ngFor="let option of selectDropdown"> 
              {{option.startRange}} - {{option.endRange}}
          </option>
        </select>
        <br>
      </section>
      <section class="float-right">
        <div class="range">
          <span class="slider-time" *ngIf="sliderWidth!==selectedRange.startRange && sliderWidth !== selectedRange.endRange" [ngStyle]="{left: timerWidth + '%' || '0%' }">{{selectedTime}}</span>
          <span class="start-range">{{selectedRange.startRange}}</span>
          <span class="end-range">{{selectedRange.endRange}}</span>
        </div>
        <div class="progress-box">
          <!-- <div class="percentage-cur">
            <span class="num">{{selectedRange.startRange}}</span>
          </div> -->
          <div class="progress-bar progress-bar-slider">
            <input class="progress-slider" type="range" name="timeControl" min="{{selectedRange.startRange}}" max="{{selectedRange.endRange}}" [(ngModel)]="selectedTime" (change) = "changedTime(selectedTime)">
            <div class="inner" [ngStyle]="{ width: sliderWidth + '%' || '0%' }"></div>
          </div>
        </div>
      </section>
    </form>
</div>
