/* You can add global styles to this file, and also import other style files */


body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
}
app-root{
    height: inherit;
    div{
        height: inherit;
    }
}

header{
    background: #d8d8d8;
    margin: 0; 
    padding: 14px; 
}

form{
    width: 100%;
    margin: 0;
    padding-top: 4%;
}

.button-center{
    width: 100%;
    text-align: center;
    clear: both;
    padding-top: 50px;
    button{
        
    width: 100px;
    height: 40px;
    }
}
.progress-box {
	width: 90%;
    .progress-bar {
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        margin-bottom: 3px;
        border: 1px solid #f1f1f1;
        position: relative;
        .inner {
            position: relative;
            width: 0;
            height:100%;
            background: #239bd6; 
            border-radius: 5px;
        }
    }
    .progress-slider {
      opacity: 0;
      width: 100%;
      height: 5px;
      position: absolute;
      top: -3px;
      left: 0px;
      cursor: pointer;
      z-index: 1;
      top: -2px
    }

    .progress-bar-slider .inner {
        transition: all 0.5s ease-out;
    }
    
    .progress-bar-slider .inner:after {
      content: " ";
      width: 16px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      right: -5px;
      top: -7px;
      border: 1px solid #bbb;
      border-radius: 5px;
      margin: 0px;
    }
}

.text-center{
    text-align: center;
}

section{
    width: 49.5%;
    select{
        width: 300px;
    }
}

.slider-form {
    section:nth-child(1){
        height: 100px;
        border-right: 1px solid #d1d1d1;
    }
    section:nth-child(2){
        width: 46%;
        position: relative;
        float: right;
    }
}

.range{
    position: relative;
    transition: all 0.5s ease-out;
    span{
        position: absolute;
        top: 10px;
    }
}

.float-right{
    float: right;
    right: 0;
}

.float-left{
    float: left;
    left: 0;
}

.switch {
    float: left;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .checkbox{
      b{
          margin-left: 20px;
      }
  }